 @page "/RegistrarClientes" 
 @using GigaRed.Cliente.Componentes.Cliente
@* @inherits AuthenticatedPageBase *@


@* <AuthorizeView>

    <Authorized>
        <h3>Registrar Cliente</h3>
    </Authorized>

</AuthorizeView> *@

<RegistrarClienteComponent/>

@code {

}
